:root {
    --background-color: #333;
    --background-color-dark: #222;
    --background-color-darker: #111;
    --text-color: #fefefe;
    --color-link: #2C7EEA;
    --color-primary: #63CC61;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    margin: 0;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

nav {
    background-color: var(--background-color-darker);
    height: 64px;
    line-height: 64px;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    float: right;
}

#site-name {
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

#logo {
    vertical-align: middle;
}

nav ul li {
    display: inline;
    font-weight: bold;
    margin-left: 20px;
}

nav ul li a {
    color: var(--text-color);
}

nav ul li a.active {
    border-bottom: 3px solid var(--text-color);
}

#editor {
    border-right: 5px solid #666;
    position: fixed;
    /* Nav bar height */
    top: 64px;
    bottom: 0;
    left: 0;
    width: calc(50% - 10px);
}

#md-render {
    background-color: white;
    position: fixed;
    /* Nav bar height */
    top: 64px;
    bottom: 0;
    left: calc(50% - 5px);
    /* 40px padding - 5px from left */
    width: calc(50% - 35px);
    color: black;
    padding: 20px;
    overflow-y: auto;
}

input, button {
    background-color: white;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 0px 0px 1px #666;
}

button {
    color: var(--text-color);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: var(--color-primary);
}

#tags-container {
    position: fixed;
    width: 200px;
    top: 64px;
    bottom: 0;
    padding: 20px;
    background-color: var(--background-color-dark);
}

#note-container {
    /* 200 + 40 + 20px margin */
    margin-left: 260px;
    top: 64px;
    overflow: auto;
    bottom: 0;
    position: fixed;
}

.note-card .title {
    font-size: 1.3em;
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-card .note-tag {
    color: #aaa;
    margin-right: 20px;;
}

.note-card .note-star {
    float: right;
}

.note-card .note-owner {
    bottom: 15px;
    right: 20px;
    position: absolute;
}

#tags-list {
    padding-top: 15px;
}

#tags-list p {
    color: #aaa;
    margin: 0px;
}

#tags-header {
    display: inline-block;
    margin-bottom: 5px;
}

.note-card {
    display: inline-block;
    background-color: var(--background-color-darker);
    padding: 20px;
    width: 250px;
    border-radius: 2px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}